<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Buy the best quality products at the lowest price.">
	<meta name="keywords" content="products, online shopping, discounts">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/games.css">
</head>
<body>
	  <main>
		<h2>Retro Games</h2>
		<ul class="game-list">
		  <li>
			<a href="/listofgames-snake">
			  <img src="/images/snake.jpg" width="350px" height="200px" alt="snake game">
			  <h3>Snake</h3>
			</a>
		  </li>
		</ul>

		<hr>
		  <!-- More games... -->

		  <h2>New Games</h2>
		  <ul class="game-list">		 
		  <li>
			<a href="/listofgames-guess">
			  <img src="/images/guess.jpg" width="350px" height="200px" alt="guess game">
			  <h3>Game 1</h3>
			</a>
		  </li>
		  <li>
			<a href="/listofgames-pig">
			  <img src="/images/pig.jpg" width="350px" height="200px" alt="pig game">
			  <h3>Game 2</h3>
			</a>
		  </li>
		</ul>
	  </main>
</body>

