<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">   
    <!-- Custom styles for this template -->    
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>   

<main>

  <div>
    <img class="homeIMG" src="../images/homeIMG.ico" alt="logo">
  </div>

</main>

</body>


  