

<nav class="all size fixed-bottom bg-success navbar-expand-lg bg-body-tertiary">
    <div class=" container-fluid">        
        <p1 class="footerText">
          <span class="span textColor" >©️ 2023 PlayJS. All rights reserved.</span>
        </p1>      
    </div>
</nav>


<style>
  .all
  {
    background-color: beige;
  }

  .textColor
  {
    color: beige;
  }

</style>