@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*
{
    font-family: 'Press Start 2P', sans-serif;
}



.homeIMG {
    display: block;
    margin: 0 auto;
    width: 650px;
    height: 650px;
  }